/* reset de css */
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.navegador {
    display: flex;
    flex-direction: row;
    background-color: #344C36;
    padding: 0.5em;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    z-index: 3;

}

#nome {
    font-family: "BioRhyme", serif;
  font-optical-sizing: 2.18rem;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    color: #DBD2C1;
}

.menu-superior {
    display: flex;
    align-items: end;
    align-content: flex-end;
  font-family: "Bellota", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.rem;
  color: #DBD2C1;
  text-decoration: none;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  justify-content: center;
  align-items: center;
}

.CTA {
    background-color: #FAAD1B;
    font-family: "Bellota", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.75rem;
  color: #000000;
  text-decoration: none;
  padding: 0.25rem;
  margin-left: 1rem;
  border: #344C36;
  cursor: pointer;
  border-radius: 50%;
  width: 7rem;

}

.pagina-principal {
  display: block;
    background-color: #344C36;
    position: relative;
    top: 2.5rem;
    width: 100%;
}

.caixa-port {
  position: relative;
  font-size: 240px;
  top: -40rem;
  left: 5rem;
}

#portfolio-preenchido {
  font-family: "BioRhyme", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    color: #DBD2C1;
    z-index: 2;
}

.biorhyme-port-preenchido {
  font-family: "BioRhyme", serif;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    color: #DBD2C1;
    z-index: 2;
}

.biorhyme-port-vazado-amarelo {
  font-family: "BioRhyme", serif;
  font-weight: 800;
  font-style: normal;
  text-shadow:#FAAD1B 1px -1px, #FAAD1B -1px 1px, #FAAD1B 1px 1px, #FAAD1B -1px -1px;
  font-variation-settings:
    "wdth" 100;
    color: #344C36;
    z-index: 2;
}

.biorhyme-port-vazado-bege {
  font-family: "BioRhyme", serif;
  font-weight: 800;
  font-style: normal;
  text-shadow:#DBD2C1 1px -1px, #DBD2C1 -1px 1px, #DBD2C1 1px 1px, #DBD2C1 -1px -1px;
  font-variation-settings:
    "wdth" 100;
    color: #344C36;
    z-index: 2;
}

#foto-cachorro {
  position: relative;
  top: 10rem;
  z-index: 1;
}

.div-preta {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  position: relative;
  top: -10rem;
  width: 100%;
  height: 23.5rem;
  padding-top: 10rem;
  padding-left: 5rem;
  padding-right: 24rem;
  font-family: "Bellota", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  color: #DBD2C1;
}
.caixa-bege-works {
  display: flex;
  flex-direction: column;
  background-color: #DBD2C1;
  position: relative;
  top: -10rem;

}

.biorhyme-some-of {
  font-family: "BioRhyme", serif;
  font-weight: 800;
  font-size: 9.3rem;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    color: #000000;
    position: relative;
    left: 5rem;
    top: 3rem;
}
.biorhyme-my-works {
  font-family: "BioRhyme", serif;
  font-weight: 800;
  font-size: 9.3rem;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    color: #344C36;
    position: relative;
    top: -1rem;
    left: 5rem;
}

.texto-preto {
  font-family: "Bellota", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: #000000;
  padding-left: 5rem;
  padding-right: 5rem;

  position: relative;
  top: -1rem;
}

.div-projects {
  display: flex;
  flex-direction: column;
  background-color: #344C36;
  position: relative;
  top: -10rem;
  height: 93.7rem;
}

.texto-projects {
  font-family: "BioRhyme", serif;
  font-weight: 800;
  font-size: 100rem;
  font-style: normal;
  text-shadow:#FAAD1B 1px -1px, #FAAD1B -1px 1px, #FAAD1B 1px 1px, #FAAD1B -1px -1px;
  font-variation-settings:
    "wdth" 100;
    color: #344C36;
}